@use "../inc/functions" as *;

@use "./sidebar";
@use "./core";
@use "./card";

.app-container {
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  height: 100%;
  border: solid 1px rgba(85, 85, 85, 0.096);
}
