@use "../inc/functions" as *;

.core {
  background-color: rgba(180, 180, 180, 0.13);
  padding: 1rem;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;

  .main-container {
    .row {
      gap: 1rem;
    }
  }
}
