@use "../inc/functions" as *;

.core {
  background-color: rgba(180, 180, 180, 0.13);
  padding: 1rem;
  width: 100%;

  .main-header {
    height: get-rem(80);
  }

  .main-container {
    .row {
      gap: 1rem;
    }
  }
}
