@use "../inc/functions" as *;

.sidebar {
  min-width: get-rem(300);
  height: 100%;
  padding: 1rem;
  background-color: rgba(211, 211, 211, 0.13);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  .nav-header {
    height: get-rem(80);
    .header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        font-size: get-rem(22);
        padding-left: 1rem;
      }
    }
  }
}
