@use "./variables";
@use "../inc/functions" as *;
@use "./type";
@use "./layout-basic";

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: get-rem(48);
  height: 100vh;
}
