@use "../inc/functions" as *;

.inventario {
  .container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .filters {
      display: flex;
      align-items: center;
      gap: get-rem(8);
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      p {
        font-weight: 500;
        text-decoration: underline;
      }
    }
  }

  .filters-wrapper {
    position: relative;
  }

  .filters-popover {
    position: absolute;
    top: get-rem(8);
    right: get-rem(-50);
    position-area: left bottom;
    padding: get-rem(20);
    border: none;
    border-radius: get-rem(8);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);

    ul {
      display: flex;
      flex-direction: column;
      gap: get-rem(8);
      padding-bottom: get-rem(8);
      border-bottom: solid 1px var(--clr-secondary);

      li {
        display: flex;
        justify-content: flex-start;
        gap: get-rem(8);
      }
    }

    .name-filter {
      padding-top: get-rem(8);

      label {
        display: flex;
        gap: get-rem(8);
      }
    }

    &::backdrop {
      width: 0;
      height: 0;
    }
  }

  .container {
    width: 100%;
    height: auto;
    padding: get-rem(20);
    background-image: linear-gradient(180deg, #ffffff5b, #00000002);

    .table {
      border: solid 1px black;
      border-radius: get-rem(8);
      width: 100%;
      padding: get-rem(20);

      .row {
        gap: 0;
        padding: 0;
      }

      h3 {
        padding: get-rem(8);
      }
      :nth-child(n + 2) {
        border-left: solid 1px var(--clr-secondary);
      }
    }
  }
}
